#logo{
    border-style: solid;
    padding:5px 15px 5px 15px;
    border-color: orange;
    border-radius: 10px;
    color: orange;
}


#custom-nav{
    position: sticky;
    top:0;
}

.banner-section-bg{
    background-image: url("https://img.freepik.com/premium-photo/tokyo-japan-january-09-2018-chefs-are-cooking-restaurant-most-popular-delicious-japanese-snack-food-japan_175935-25.jpg?ga=GA1.1.1180797953.1731907740&semt=ais_hybrid");
    background-size:cover;
    height:90vh;
}


.menu-section-bg{
    height:100vh;
}